body {
  background-color: #white;
}

.jumbotron h1, h2{
  color: white;
  line-height: 50px;
  text-shadow: #631F01 1px 0 10px;
  text-align: center;
}

.jumbotron h1{
  font-size: 50px;
  padding: 20px 10px 0px 10px;
}

h2{
  font-size: 25px;
  line-height: 50px;
  padding: 0px 10px 20px 10px;
}

h3{
  line-height: 16px;
}

.navbar {
  margin-bottom: 0;
}
/* nav{
  background-color: #220;
}

nav li a {
    color: white;
}

nav a:hover {
    color: white;
    background-color: #330;
} */

.jumbotron {
  background: linear-gradient(to bottom, transparent 80%, white),
      url("images/wasteland.jpg");
  /* background-image: url("images/wasteland.jpg"); */
  background-size: cover;
  background-position-y: 40%;
  margin-bottom:0;
}

.first-element{
  margin-top: 2em;
}

#placeholder1, #placeholder2 {
  height: 50px;
  width: 50px;
  padding: 5px;
  margin: 0;
  border: 1px solid gray;
  border-radius: 10px;
  font-size:30px;
  text-align: center;
  display: inline-block;
}

#yourMutation{
  font-style: italic;
}

p#mutationPlaceholderMutation{
  text-align: left;
  font-weight: bold;
  margin-top: 1.5em;
}

p#mutationPlaceholderDescription{
  text-align: left;
  font-style: normal;
}
